<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello World</title>
    <link rel="stylesheet" href="./styles/reset.css">
    <link rel="stylesheet" href="./styles/base.css">
    <link rel="stylesheet" href="./styles/layout.css">
    <link rel="stylesheet" href="./styles/modules.css">
    <link rel="stylesheet" href="./styles/theme.css">
</head>

<body>
    <Header>
        <h1>Hello World</h1>
    </Header>

    <div id="one">
        <h2>Search by Title or Author</h2>
    </div>
    <form action="/new_search" method="POST">
        <input type="text" name="name" value="Enter a title or author">

        author<input type="radio" value="author" name="theyAre">
        title<input type="radio" value="title" name="theyAre">
        <input type="submit">
    </form>


</body>

</html>