<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Search</title>
    <link rel="stylesheet" href="../styles/reset.css">
    <link rel="stylesheet" href="../styles/base.css">
    <link rel="stylesheet" href="../styles/layout.css">
    <link rel="stylesheet" href="../styles/module.css">
</head>

<body>
    <Header>
        <h1>Search for Your Favorite Books</h1>
    </Header>

    <div id="one">
        <h2>Search by Title or Author</h2>
    </div>
    <form action="/getBooks" method="POST">
        <input type="text" name="name" value="Enter a Title or Author">

        Author<input type="radio" value="author" name="name">
        Title<input type="radio" value="title" name="name">
        <input type="submit">
    </form>


</body>

</html>